<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/style.css"/>
    <title>GrandPy Bot</title>
</head>
<body>
    <header>
        <div id="top">
            <img src="../static/image/grandpi_logo.png" alt="Grandpi's logo" id="logo"/>
            <p><h1>GrandPy</h1></p>
        </div>
    </header>
    <section>
        <!--chat GrandPy -->
    </section>
    <footer>
        <div id="footer">
            <div class="repo git">
                <a href="https://github.com/Linocent/P7">
                  <img src="../static/image/git.png" alt="Git's logo"/>
                </a>
            </div>
            <div class="linkedIn">
                <a href="https://www.linkedin.com/in/timoth%C3%A9e-linocent-ab01051a7/">
                    <img src="../static/image/lnkn.png" alt="LinkedIn's logo"/>
                </a>
            </div>
            <div class="name">
                <p>
                    Bot created by Linocent Timothée
                </p>
            </div>
        </div>
    </footer>
</body>
</html>