pytest~=6.2.3
Flask~=1.1.2
Unidecode~=1.2.0
requests~=2.24.0
{"batchcomplete":"","query":{
    "pages":{ # Je commence à itérer ici.
        "22989":{
            "pageid":22989,
            "ns":0,
            "title":"Paris",
            "index":-1
            },
        "903867":{
            "pageid":903867,
            "ns":0,
            "title":"Place de l'H\u00f4tel-de-Ville \u2013 Esplanade de la Lib\u00e9ration",
            "index":0
            },
        "1251625":{
            "pageid":1251625,
            "ns":0,
            "title":"Siege of Paris (1870\u20131871)",
            "index":1
            },
        "1812841":{
            "pageid":1812841,
            "ns":0,
            "title":"Battle of Paris (1814)"
            ,"index":2
            },
        "3359633":{
            "pageid":3359633,
            "ns":0,
            "title":"Timeline of Paris",
            "index":3
            },
        "3374926":{
            "pageid":3374926,
            "ns":0,
            "title":"International Federation of Film Archives",
            "index":4
            },
        "29482851":{
            "pageid":29482851,
            "ns":0,
            "title":"Siege of Paris (1590)",
            "index":5
            },
        "34297243":{
            "pageid":34297243,
            "ns":0,
            "title":"Siege of Paris (845)",
            "index":6
            },
        "37113198":{
            "pageid":37113198,
            "ns":0,
            "title":"Autonomous Port of Paris",
            "index":7},
        "50526478":{
            "pageid":50526478,
            "ns":0,
            "title":"Siege of Paris (1429)",
            "index":8}}}}