@font-face {
   font-family: 'Odibee Sans', cursive;
    font-family: 'Padauk', sans-serif;
}



body
{
    background-color: #FBDA9C;
}

#bloc_page
{
    min-height: 100%;
    height: auto;
    min-width: 100%;
    width: auto;
}

/*Header*/

#banniere /*manage banner*/
{
    max-height: 10%;
    height: auto;
    min-width: 100%;
    width: auto;
    border: 4px outset;
    display: flex;
    flex-direction: row;
}

h1 /*manage title of banner*/
{
    flex: 6;
    margin-top: 50px;
    font-size: 100px; /*On peut mettre en pixel ceci*/
    font-family: Padauk;
}

#logo /*manage logo*/
{
    width: 150px;
    height: 150px;
    margin: auto;
    vertical-align: middle;
}

#corpse
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-height: 100%;
    height: auto;
    max-width: 50%;
    width: auto;
    bottom: 0;
    border: 6px outset;
}

#chat_box
{
    width: 50%;
    font-size: 20px;
    font-family: "Odibee Sans";
}

#map {
    height: 300px;
    width: 300px;
    margin: auto;
}

.question_right
{
    max-width: 65%;
    width: auto;
    position: relative;
    left: 30%;
    margin-bottom: 10px;
    border: 4px solid darkblue;
    border-radius: 20px/10px;
}

.answer_left
{
    max-width: 65%;
    width: auto;
    position: relative;
    right: 30%;
    margin-bottom: 10px;
    border: 4px solid darkgreen;
    border-radius: 20px/10px;
}

.form
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-height: 50%;
    max-width: 50%;
    width: auto;
    height: auto;
    bottom: 0;
}

#question
{
    max-height: 5%;
    height: auto;
    margin: 0 auto;
    bottom: 0;
}
#click
{
    max-height: 5%;
}
#footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    height: 10%;
}

.f_logo
{
    display: flex;
    justify-content: center;
    max-height: 40%;
}

.name
{
    vertical-align: middle;
    text-align: center;
    margin: auto;
    font-family: "Odibee Sans";
    width: 20%;
}

@media screen and (max-width: 1024px)
{
h1 /* manage title of banner*/
{
    flex: 6;
    margin-top: 50px;
    font-size: 50px;
    font-family: Padauk;
}

#logo /*Manage logo*/
{
    width: 75px;
    height: 75px;
    margin: auto;
    vertical-align: middle;
}

}