@font-face {
    font-family: "1942 report";
    src:url("font_family/1942-webfont.eot")format('eot'),
        url("font_family/1942-webfont.svg")format('svg'),
        url("font_family/1942-webfont.ttf")format('ttf'),
        url("font_family/1942-webfont.woff")format('woff');
}
body
{
    background-color: #FBDA9C;
}

#bloc_page
{
    min-height: 100vh;
    position: relative;
}

#title /* gère le titre et le logo*/
{
    max-width: 100%;
    max-height: 20vh;
    border: 4px outset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.Name /* gère le titre de l'en-tête*/
{
    font-size: 40px;
    font-family: "1942 report";
    /*align-items: center;*/
}

.logo /*gère le logo*/
{}

#corpse
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: white;
    max-width: 100px;
    max-height: 100vh;
    border: 4px black;
}

.form
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    bottom: 0;
}

#question
{
    max-height: 5%;
}
#click
{
    max-height: 5%;
}
#footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.f_logo
{
    display: flex;
    justify-content: center;
    max-height: 10%;
}

.name
{
    align-self: center;
}