@font-face {
    font-family: "1942 report";
    src:url("font_family/1942-webfont.eot")format('eot'),
        url("font_family/1942-webfont.svg")format('svg'),
        url("font_family/1942-webfont.ttf")format('ttf'),
        url("font_family/1942-webfont.woff")format('woff');
}
body
{
    background-color: #FBDA9C;
}

#bloc_page
{
}

#title /* gère le titre et le logo*/
{
    max-width: 100%;
    max-height: 10%;
    border: 4px outset;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Name /* gère le titre de l'en-tête*/
{
    font-size: 40px;
    font-family: "1942 report";
    /*align-items: center;*/
}

.logo /*gère le logo*/
{}

section
{
    justify-content: center;
    align-items: center;
    background-color: black;
}
#corpse
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 500px;
    max-height: 100px;
    border: 4px black;
}
.textarea
{
    max-height: 10%;
    align-items: flex-end;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.element:nth-child(3)
{
    align-self: flex-end;
}