<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/style.css"/>
    <title>GrandPy Bot</title>
    <link rel="icon" type="image/png" href="../static/image/grandpiCarre.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js%22%3E"></script>
    <script src="../static/main.js"></script>
</head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="title">
                    <div class="logo">
                        <img src="../static/image/grandpiCarre.png" alt="Grandpi's logo" width="150"/> <!--id="logo"-->
                    </div>
                    <div class="Name">
                        <h1>GrandPy</h1>
                    </div>
                    <!--<div class="slogan">
                        <p>The grandpa bot</p>
                    </div>-->
                </div>
            </header>

            <section id="corpse">
                <div class="chat_box">
                    <p>This is chat</p>
                </div>
                <form class="form">
                    <div class="textarea">
                        <textarea name="question" id="question" rows="10" cols="50"> Ask a question about a place.</textarea>
                    </div>
                    <input type="submit" value="Submit" id="click"/>
                </form>
            </section>

            <footer id="footer">
                <div class="f_logo">
                    <div class="repo_git">
                        <a href="https://github.com/Linocent/P7">
                          <img src="../static/image/github.png" alt="Git's logo" width="20"/>
                        </a>
                    </div>
                    <div class="linkedIn">
                        <a href="https://www.linkedin.com/in/timoth%C3%A9e-linocent-ab01051a7/">
                            <img src="../static/image/lin.png" alt="LinkedIn's logo" width="20"/>
                        </a>
                    </div>
                </div>
                <div class="name">
                    <p>
                        Bot created by Linocent Timothée
                    </p>
                </div>
            </footer>

        </div>
    </body>
</html>