<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/style.css"/>
    <title>GrandPy Bot</title>
    <link rel="icon" type="image/png" href="../static/image/grandpiCarre.png">
</head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="title">
                    <div class="logo">
                        <img src="../static/image/grandpiCarre.png" alt="Grandpi's logo" width="150"/> <!--id="logo"-->
                    </div>
                    <div class="Name">
                        <h1>GrandPy</h1>
                    </div>
                    <!--<div class="slogan">
                        <p>The grandpa bot</p>
                    </div>-->
                </div>
            </header>

            <section>
                <div id="corpse">

                    <div class="chat_box">
                        <p>This is chat</p>
                    </div>
                    <div class="textarea">
                        <textarea name="question" id="question" rows="10" cols="50"> Ask a question about a place.</textarea>
                    </div>
                    <input type="submit" value="Submit"/>
                    <!--<input type="buton" value="Submit"/> Qu'est-ce qu'y est le mieux? -->
                </div>
            </section>

            <footer>
                <div id="footer">
                    <div class="repo git">
                        <a href="https://github.com/Linocent/P7">
                          <img src="../static/image/git.png" alt="Git's logo"/>
                        </a>
                    </div>
                    <div class="linkedIn">
                        <a href="https://www.linkedin.com/in/timoth%C3%A9e-linocent-ab01051a7/">
                            <img src="../static/image/lnkn.png" alt="LinkedIn's logo"/>
                        </a>
                    </div>
                    <div class="name">
                        <p>
                            Bot created by Linocent Timothée
                        </p>
                    </div>
                </div>
            </footer>

        </div>
    </body>
</html>